{% extends "template.html" %}

{% block content %}

<div class="container-fluid">
    <div class="animated fadeIn">
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        All Order
                    </div>
                    <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                        <tr>
                            <th>Date/Time</th>
                            <!--<th>Time</th>-->
                            <th>Address</th>
                            <th>Disease</th>
                            <th>Name</th>
                            <!--<th>Email</th>-->
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Set Status</th>
                            <th>Pos Terdekat</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for data in order %}
                        <tr>
                            <td>
                                <div>{{ data.tanggal | toDate }}</div>
                                <strong>{{ data.waktu }}</strong>
                            </td>
                            <!--<td>-->
                            <!--</td>-->
                            <td class="text-muted">
                                <div>{{ data.alamat_masyarakat }}</div>
                            </td>
                            <td>
                                <strong class="text-muted">{{ data.keterangan }}</strong>
                            </td>
                            <td>
                                <strong class="text-muted">{{ data.masyarakatId.nama_masyarakat }}</strong>
                            </td>
                            <!--<td>-->
                                <!--<strong class="text-muted">{{ data.masyarakatId.email }}</strong>-->
                            <!--</td>-->
                            <td>
                                <strong class="text-muted">{{ data.masyarakatId.nomor_hp_masyarakat }}</strong>
                            </td>
                            <td><strong class="text-muted">{{ data.status }}</strong></td>
                            <td>
                                {% if data.status == "unhandled" or data.status == "handled" %}
                                <button onclick="window.location='/sethandled/{{ data.id }}';" type="button" class="btn btn-success btn-sm" href="/sethandled/{{ data.id }}">Handle Order</button>
                                <button onclick="window.location='/setdeclined/{{ data.id }}';" type="button" class="btn btn-danger btn-sm" href="/setdeclined/{{ data.id }}">Decline Order</button>
                                {% endif %}
                            </td>
                            <td class="text-xs-center">
                                <div>{{ data.pos }}</div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
    </div>
</div>

<!-- /.conainer-fluid -->
{% endblock %}