<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OAM - Skrisi Atikah Chairunnisa</title>

    <!-- Icons -->
    <link href="/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet" >
    <link href="/stylesheets/simple-line-icons.css" type="text/css" rel="stylesheet" >

    <!-- Main styles for this application -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" >
    {% block css %}{% endblock %}

</head>

<!-- BODY options, add following classes to body to change options
		1. 'compact-nav'     	  - Switch sidebar to minified version (width 50px)
		2. 'sidebar-nav'		  - Navigation on the left
			2.1. 'sidebar-off-canvas'	- Off-Canvas
				2.1.1 'sidebar-off-canvas-push'	- Off-Canvas which move content
				2.1.2 'sidebar-off-canvas-with-shadow'	- Add shadow to body elements
		3. 'fixed-nav'			  - Fixed navigation
		4. 'navbar-fixed'		  - Fixed navbar
		5. 'footer-fixed'		  - Fixed navbar
	-->

<body class="navbar-fixed sidebar-nav fixed-nav footer-fixed">
<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler layout-toggler" href="#">☰</a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-xs-right hidden-md-down">
            <li class="nav-item dropdown px-1">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="hidden-md-down">admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <div class="dropdown-header text-xs-center">
                        <strong>Settings</strong>
                    </div>

                    <a class="dropdown-item" href="/keluar"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</header>

<div class="sidebar">

    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="./"><i class="icon-home"></i> Dashboard </a>
            </li>

            <li class="nav-title">
                Listing
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-docs"></i> Order</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/allorder"><i class="icon-doc"></i> All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/handledorder"><i class="icon-doc"></i> Handled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/unhandledorder"><i class="icon-doc"></i> Unhandled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prankorder"><i class="icon-doc"></i> Prank</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link" href="/agd-station"><i class="icon-star"></i> AGD Station</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users"><i class="icon-user"></i> User</a>
            </li>

        </ul>
    </nav>
</div>

<!-- Main content -->
<main class="main">

    {% block content %}{% endblock %}

</main>

<footer class="footer">
        <span class="text-left">
            Atikah skripsi S1 2016.
        </span>
        <span class="float-xs-right">
            Powered by <a href="http://coreui.io">CoreUI</a>
        </span>
</footer>

<!-- Bootstrap and necessary plugins -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/tether/dist/js/tether.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/pace/pace.min.js"></script>
<script src="bower_components/gmap3/dist/gmap3.min.js"></script>
<!--<script src="/js/gmap3.min.js"></script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC054ToUmttPYRyKN4jzDkVyQHNCyCeixw&callback=initMap"-->
        <!--async defer type="text/javascript"></script>-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC054ToUmttPYRyKN4jzDkVyQHNCyCeixw"></script>
<!--<script async defer-->
        <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC054ToUmttPYRyKN4jzDkVyQHNCyCeixw&callback=initMap">-->
<!--</script>-->
<!-- Plugins and scripts required by all views -->
<script src="bower_components/chart.js/dist/Chart.min.js"></script>

<!-- GenesisUI main scripts -->
<script src="/js/app.js"></script>

<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script src="/js/views/main.js"></script>

{% block scripts %}{% endblock %}

</body>

</html>